
.header{
  background-color: #282c34;
  color: #61dafb;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
}

.divMargin{
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divMarginAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.homeTitle{
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.homeText{
  font-size: 40px;
}

.form{
  margin-bottom: 30px;
}

.btnAdd{
  width: 200px;
  height: 30px;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.check{
  margin: 0 10px;
}

.todosList{
  display: flex;
  align-items: center;
}

.btnColum{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select{
  width: 80px;
}

.aboutTitle{
  font-size: 30px;
}

.aboutText{
  width: 800px;
}

.aboutList{
  margin: 0 20px;
  padding-bottom: 30px;
  color: aliceblue;
}

.itemTitle{
  text-transform: uppercase;
  color: #61dafb;
}

.inputLog{
  width: 200px;
  height: 20px;
}